In [58]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import statsmodels.api as sm
from scipy.stats import boxcox

pd.options.display.max_rows = 50

In [59]:
file1=pd.read_csv("file1.csv")
file1

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
file2=pd.read_csv("file2.csv")
file2

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount,Policy Type,Vehicle Class
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,633.600000,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,547.200000,Special Auto,SUV
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,537.600000,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,1027.200000,Personal Auto,Luxury Car
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,451.200000,Corporate Auto,Two-Door Car
...,...,...,...,...,...,...,...,...,...,...,...
991,HV85198,Arizona,M,Master,847141.75%,63513,70,1/0/00,185.667213,Personal Auto,Four-Door Car
992,BS91566,Arizona,F,College,543121.91%,58161,68,1/0/00,140.747286,Corporate Auto,Four-Door Car
993,IL40123,Nevada,F,College,568964.41%,83640,70,1/0/00,471.050488,Corporate Auto,Two-Door Car
994,MY32149,California,F,Master,368672.38%,0,96,1/0/00,28.460568,Personal Auto,Two-Door Car
995,SA91515,California,M,Bachelor,399258.39%,0,111,1/0/00,700.349052,Personal Auto,SUV

In [61]:
file3=pd.read_csv("file3.csv")
file3.rename(columns={'State':'ST','Gender':'GENDER'}, inplace=True )
file3

,Customer,ST,Customer Lifetime Value,Education,GENDER,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,FN77294,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,23405.987980,Bachelor,M,71941,73,0,Personal Auto,198.234764,Four-Door Car
7066,PK87824,California,3096.511217,College,F,21604,79,0,Corporate Auto,379.200000,Four-Door Car
7067,TD14365,California,8163.890428,Bachelor,M,0,85,3,Corporate Auto,790.784983,Four-Door Car
7068,UP19263,California,7524.442436,College,M,21941,96,0,Personal Auto,691.200000,Four-Door Car
7069,Y167826,California,2611.836866,College,M,0,77,0,Corporate Auto,369.600000,Two-Door Car

In [62]:
def load_original_data():
    return pd.concat([file1,file2,file3], axis=0)

In [63]:
cars_insurance=load_original_data()
cars_insurance

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
7066,PK87824,California,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
7067,TD14365,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
7068,UP19263,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
7069,Y167826,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

In [64]:
def lower_case_column_names(cars_insurance):
    cars_insurance.columns=[i.lower() for i in cars_insurance.columns]
    return cars_insurance

In [65]:
car_in=lower_case_column_names(cars_insurance)
car_in

,customer,st,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
7066,PK87824,California,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
7067,TD14365,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
7068,UP19263,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
7069,Y167826,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

In [66]:
car_in.drop(columns=["customer"], inplace=True, axis=1)
car_in

,st,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...
7065,California,M,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
7066,California,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
7067,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
7068,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
7069,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

In [67]:
car_in = car_in[["st","gender","education", "policy type","vehicle class","customer lifetime value","income","monthly premium auto","number of open complaints", "total claim amount"]]

In [68]:
car_in

,st,gender,education,policy type,vehicle class,customer lifetime value,income,monthly premium auto,number of open complaints,total claim amount
0,Washington,NaN,Master,Personal Auto,Four-Door Car,NaN,0.0,1000.0,1/0/00,2.704934
1,Arizona,F,Bachelor,Personal Auto,Four-Door Car,697953.59%,0.0,94.0,1/0/00,1131.464935
2,Nevada,F,Bachelor,Personal Auto,Two-Door Car,1288743.17%,48767.0,108.0,1/0/00,566.472247
3,California,M,Bachelor,Corporate Auto,SUV,764586.18%,0.0,106.0,1/0/00,529.881344
4,Washington,M,High School or Below,Personal Auto,Four-Door Car,536307.65%,36357.0,68.0,1/0/00,17.269323
...,...,...,...,...,...,...,...,...,...,...
7065,California,M,Bachelor,Personal Auto,Four-Door Car,23405.98798,71941.0,73.0,0,198.234764
7066,California,F,College,Corporate Auto,Four-Door Car,3096.511217,21604.0,79.0,0,379.200000
7067,California,M,Bachelor,Corporate Auto,Four-Door Car,8163.890428,0.0,85.0,3,790.784983
7068,California,M,College,Personal Auto,Four-Door Car,7524.442436,21941.0,96.0,0,691.200000
7069,California,M,College,Corporate Auto,Two-Door Car,2611.836866,0.0,77.0,0,369.600000

In [69]:
car_in.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12074 entries, 0 to 7069
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   st                         9137 non-null   object
 1   gender                     9015 non-null   object
 2   education                  9137 non-null   object
 3   policy type                9137 non-null   object
 4   vehicle class              9137 non-null   object
 5   customer lifetime value    9130 non-null   object
 6   income                     9137 non-null   float64
 7   monthly premium auto       9137 non-null   float64
 8   number of open complaints  9137 non-null   object
 9   total claim amount         9137 non-null   float64
dtypes: float64(3), object(7)
memory usage: 1.0+ MB

In [70]:
car_in['customer lifetime value'] = car_in['customer lifetime value'].str.rstrip('%')

In [80]:
list(car_in['customer lifetime value'].unique())

[nan,
 '697953.59',
 '1288743.17',
 '764586.18',
 '536307.65',
 '825629.78',
 '538089.86',
 '721610.03',
 '2412750.40',
 '738817.81',
 '473899.20',
 '819719.71',
 '879879.70',
 '881901.89',
 '538443.17',
 '746313.94',
 '256686.78',
 '394524.16',
 '571033.31',
 '816261.71',
 '287205.13',
 '617710.93',
 '245019.10',
 '239210.79',
 '580206.60',
 '394637.21',
 '916206.32',
 '1290256.01',
 '323536.05',
 '245458.35',
 '1897545.61',
 '471532.13',
 '473787.17',
 '493291.63',
 '574422.97',
 '1389173.57',
 '738097.67',
 '309003.41',
 '252163.31',
 '265206.18',
 '277104.50',
 '393900.64',
 '1223187.97',
 '495165.61',
 '1281910.29',
 '446851.05',
 '551434.40',
 '334387.53',
 '229447.89',
 '3670742.64',
 '3347334.95',
 '798343.17',
 '487938.48',
 '429399.73',
 '716439.55',
 '761951.58',
 '395800.28',
 '449949.33',
 '405956.74',
 '445811.34',
 '811033.31',
 '333976.49',
 '2426101.78',
 '661397.37',
 '293069.35',
 '867219.43',
 '1163866.93',
 '684615.03',
 '1172777.65',
 '2264383.48',
 '261447.43',
 '245175.27',
 '678127.02',
 '497480.15',
 '859160.49',
 '559216.14',
 '800947.28',
 '5816655.35',
 '802522.94',
 '578018.22',
 '411853.91',
 '252307.02',
 '655421.64',
 '538275.20',
 '592672.94',
 '268347.07',
 '269518.24',
 '604702.52',
 '1317101.28',
 '1595001.95',
 '252765.38',
 '267209.58',
 '531329.40',
 '2094619.25',
 '837535.39',
 '480166.15',
 '574594.33',
 '606611.60',
 '800230.83',
 '239391.54',
 '476281.79',
 '433038.60',
 '940272.98',
 '696669.45',
 '769406.43',
 '871756.11',
 '592874.85',
 '245297.73',
 '670157.17',
 '499655.27',
 '849269.88',
 '771349.40',
 '518579.76',
 '729006.98',
 '477294.38',
 '680649.14',
 '246978.13',
 '310392.30',
 '1048491.54',
 '890273.76',
 '549944.72',
 '1502359.86',
 '250910.79',
 '3122174.81',
 '313350.34',
 '383745.19',
 '1179049.62',
 '282986.39',
 '430580.83',
 '597397.69',
 '567044.24',
 '473174.93',
 '802637.96',
 '402296.35',
 '961831.09',
 '725595.38',
 '955292.69',
 '1038855.32',
 '247012.12',
 '561906.85',
 '904711.92',
 '268731.41',
 '373150.46',
 '366077.03',
 '792882.93',
 '501175.16',
 '798825.83',
 '388545.64',
 '935773.78',
 '254068.98',
 '488516.25',
 '975330.71',
 '294615.37',
 '258111.09',
 '351738.58',
 '974335.01',
 '387364.70',
 '764928.20',
 '228759.69',
 '825576.39',
 '871492.21',
 '681923.12',
 '741619.73',
 '777115.90',
 '696834.19',
 '425028.26',
 '1977656.65',
 '2134346.60',
 '241313.97',
 '1536384.72',
 '845696.19',
 '218964.25',
 '463998.16',
 '382443.13',
 '596811.89',
 '859033.50',
 '407663.47',
 '1225260.18',
 '1693627.15',
 '489243.55',
 '994230.48',
 '373583.81',
 '1311752.22',
 '457452.41',
 '547006.06',
 '297884.60',
 '641096.75',
 '447902.31',
 '238373.19',
 '276449.37',
 '792010.54',
 '688909.80',
 '327419.46',
 '995170.77',
 '252155.57',
 '2370611.34',
 '1114030.25',
 '433406.41',
 '279974.79',
 '792313.66',
 '368811.09',
 '1206745.60',
 '292497.67',
 '1501409.27',
 '927723.38',
 '627412.39',
 '388664.74',
 '438627.76',
 '1136526.77',
 '561096.43',
 '291289.20',
 '691572.99',
 '626266.33',
 '650339.70',
 '800739.94',
 '292991.65',
 '596955.30',
 '547315.99',
 '564539.67',
 '636926.24',
 '1183376.73',
 '612110.79',
 '515936.97',
 '251459.20',
 '866861.13',
 '496096.54',
 '550413.90',
 '750745.54',
 '3226985.14',
 '565703.16',
 '506175.79',
 '591278.38',
 '1518227.98',
 '1074703.09',
 '205062.35',
 '246544.49',
 '534312.13',
 '811982.91',
 '460526.52',
 '640878.56',
 '237653.35',
 '321107.00',
 '509452.23',
 '2575527.82',
 '867222.97',
 '804473.07',
 '400151.91',
 '1670611.70',
 '854441.11',
 '780531.29',
 '611275.69',
 '1097909.56',
 '500426.38',
 '1322304.38',
 '262331.54',
 '1784019.56',
 '510611.18',
 '1793060.45',
 '545734.26',
 '656364.41',
 '481252.52',
 '2932804.19',
 '577352.07',
 '684711.89',
 '359531.29',
 '2285561.21',
 '785941.46',
 '411557.74',
 '502963.88',
 '482141.85',
 '500431.05',
 '863005.39',
 '932208.51',
 '1672756.06',
 '365253.24',
 '615860.12',
 '437608.40',
 '556945.62',
 '257651.30',
 '834698.32',
 '632392.39',
 '597314.34',
 '470667.70',
 '809341.03',
 '503574.46',
 '902786.72',
 '728888.48',
 '1804247.94',
 '499206.30',
 '910226.78',
 '254040.77',
 '1294189.19',
 '236534.86',
 '572076.51',
 '703553.41',
 '263697.77',
 '539583.20',
 '838263.01',
 '3116174.52',
 '288774.23',
 '742584.53',
 '2558572.78',
 '1027260.82',
 '437636.36',
 '531889.66',
 '471976.22',
 '442803.16',
 '587917.61',
 '941690.85',
 '828815.56',
 '3265483.83',
 '471945.01',
 '390347.48',
 '545725.97',
 '272535.64',
 '443397.37',
 '533246.27',
 '231509.50',
 '541195.37',
 '958733.23',
 '2210350.72',
 '976494.53',
 '256715.15',
 '265062.28',
 '1126436.33',
 '216852.35',
 '861066.75',
 '283464.62',
 '893013.97',
 '553638.70',
 '284085.43',
 '808288.10',
 '525473.43',
 '511623.76',
 '303464.70',
 '802489.99',
 '1821114.32',
 '512156.33',
 '215017.86',
 '559538.99',
 '756282.40',
 '538585.32',
 '267805.83',
 '942256.79',
 '360586.03',
 '776259.06',
 '2344490.05',
 '255817.82',
 '265438.10',
 '254978.61',
 '296959.33',
 '436312.46',
 '588430.86',
 '527219.16',
 '550989.57',
 '1631368.35',
 '567805.02',
 '1210120.88',
 '245357.08',
 '507566.27',
 '321497.94',
 '1227534.31',
 '272221.07',
 '245744.09',
 '355484.53',
 '492954.97',
 '803645.03',
 '427691.53',
 '596058.14',
 '4479546.94',
 '383211.81',
 '683793.26',
 '528526.82',
 '309651.12',
 '358971.07',
 '258240.85',
 '340391.94',
 '1357567.60',
 '343613.43',
 '2868582.79',
 '450267.97',
 '618311.15',
 '1892933.06',
 '555329.58',
 '501125.92',
 '1044244.63',
 '219961.78',
 '512317.09',
 '748431.05',
 '261302.31',
 '908063.97',
 '1377097.62',
 '287682.29',
 '540891.15',
 '677030.68',
 '2414387.56',
 '353805.95',
 '2909123.94',
 '1983420.12',
 '473136.70',
 '3553784.60',
 '3461137.90',
 '2021630.88',
 '1397651.93',
 '590408.82',
 '559583.50',
 '229430.36',
 '627391.19',
 '372672.80',
 '265671.31',
 '511068.08',
 '712659.65',
 '460163.41',
 '915523.97',
 '1480805.62',
 '890167.84',
 '573459.82',
 '417769.70',
 '2777628.91',
 '1036434.75',
 '785190.14',
 '1422650.49',
 '287543.24',
 '504129.96',
 '436293.12',
 '962452.44',
 '2191440.55',
 '694842.22',
 '247152.84',
 '2190391.36',
 '902882.14',
 '530375.95',
 '2070825.88',
 '512376.81',
 '949234.30',
 '820486.32',
 '987729.57',
 '481500.97',
 '627701.17',
 '826063.98',
 '254945.00',
 '1131808.98',
 '380392.18',
 '863540.35',
 '551055.90',
 '358588.41',
 '488925.28',
 '275694.17',
 '328954.74',
 '1093717.85',
 '737556.79',
 '1011077.82',
 '511941.43',
 '853383.20',
 '222476.80',
 '804280.38',
 '255443.71',
 '1807394.00',
 '243050.66',
 '316765.84',
 '546560.40',
 '1035751.42',
 '253781.39',
 '282194.72',
 '775712.81',
 '407913.27',
 '595554.46',
 '1415861.36',
 '848723.80',
 '628547.69',
 '1147348.15',
 '494263.06',
 '2359468.02',
 '257250.66',
 '477055.09',
 '675665.14',
 '593601.18',
 '357076.05',
 '601996.05',
 '542686.40',
 '273031.38',
 '498268.14',
 '876926.68',
 '422061.35',
 '1153750.51',
 '588718.20',
 '470058.38',
 '1096395.72',
 '252317.12',
 '375780.47',
 '1294173.35',
 '376446.51',
 '688955.70',
 '362345.42',
 '758211.38',
 '827774.56',
 '257645.56',
 '820538.79',
 '1958246.89',
 '648152.66',
 '259931.09',
 '983033.76',
 '1044265.14',
 '3605753.70',
 '847003.68',
 '827878.65',
 '478893.26',
 '308799.99',
 '444373.62',
 '798408.65',
 '718097.10',
 '1565603.43',
 '2071494.04',
 '533735.24',
 '505082.62',
 '511662.40',
 '726873.70',
 '261661.39',
 '373843.62',
 '545386.12',
 '617291.42',
 '1034632.45',
 '699700.86',
 '419625.77',
 '785810.98',
 '606434.40',
 '1749752.20',
 '897064.73',
 '592311.72',
 '3585059.94',
 '870984.53',
 '1330933.52',
 '452850.49',
 '279190.65',
 '443441.12',
 '799600.75',
 '512973.90',
 '569717.52',
 '921713.06',
 '1020892.76',
 '417068.73',
 '450540.58',
 '310756.86',
 '552866.50',
 '504586.67',
 '296272.25',
 '866595.64',
 '1141344.12',
 '1548843.20',
 '886114.95',
 '593474.15',
 '354323.21',
 '349002.83',
 '368309.99',
 '598977.39',
 '1250084.30',
 '860915.82',
 '249745.51',
 '701917.72',
 '538792.63',
 '616555.75',
 '273020.29',
 '516211.69',
 '793706.48',
 '860815.72',
 '263254.58',
 '778500.42',
 '2163983.86',
 '498082.50',
 '745723.78',
 '1064093.93',
 '686250.83',
 '904898.34',
 '554803.19',
 '831268.16',
 '238998.10',
 '529574.17',
 '383960.61',
 '277890.37',
 '401654.20',
 '493094.93',
 '249131.70',
 '290887.59',
 '428294.80',
 '834162.37',
 '509078.13',
 '736618.83',
 '243687.51',
 '885268.87',
 '2387547.68',
 '560049.65',
 '463654.65',
 '757334.51',
 '1469663.55',
 '897214.03',
 '772484.01',
 '594667.07',
 '800054.51',
 '645756.10',
 '728144.01',
 '259243.78',
 '467842.34',
 '1386992.71',
 '871777.78',
 '523398.68',
 '476418.97',
 '247246.92',
 '281369.26',
 '550505.70',
 '260620.85',
 '1048194.38',
 '325676.64',
 '3047578.05',
 '636490.22',
 '946850.93',
 '563145.19',
 '778099.93',
 '981652.83',
 '751913.36',
 '1017971.70',
 '277283.92',
 '403750.18',
 '419196.61',
 '267686.79',
 '252395.96',
 '698840.16',
 '874205.78',
 '267331.96',
 '1215732.99',
 '295776.40',
 '717390.94',
 '309953.80',
 '841568.46',
 '2684312.45',
 '1305717.07',
 '959995.02',
 '853510.89',
 '829348.19',
 '663685.98',
 '560908.25',
 '507732.09',
 '527562.70',
 '343525.01',
 '662461.18',
 '575744.23',
 '288645.16',
 '534143.88',
 '416001.81',
 '284624.54',
 '477025.66',
 '505961.62',
 '909574.46',
 '268886.40',
 '827763.76',
 '905793.53',
 '380175.04',
 '933934.16',
 '252012.32',
 '498409.53',
 '259574.80',
 '743769.33',
 '1453678.76',
 '591330.59',
 '277166.30',
 '2919436.64',
 '988038.58',
 '1511440.24',
 '575991.08',
 '849516.42',
 '438118.42',
 '699782.74',
 '1143058.85',
 '748248.61',
 '859691.66',
 '785496.08',
 '907576.82',
 '411858.86',
 '515281.96',
 '651297.65',
 '2778969.24',
 '266727.00',
 '1092840.71',
 '761538.13',
 '200435.07',
 '243468.12',
 '1419536.03',
 '942768.49',
 '1198242.09',
 '310278.95',
 '422263.12',
 '402381.44',
 '529715.18',
 '2142363.72',
 '441620.62',
 '463903.52',
 '486354.46',
 '2583090.98',
 '297431.49',
 '206445.88',
 '1006460.83',
 '803240.19',
 '548921.41',
 '261275.67',
 '857346.39',
 '855038.66',
 '230864.80',
 '425462.07',
 '898285.04',
 '786816.60',
 '770424.87',
 '1055217.00',
 '1604510.95',
 '873783.75',
 '545489.07',
 '770528.33',
 '703926.24',
 '883808.56',
 '873352.73',
 '959747.48',
 '450666.02',
 '1785797.23',
 '249780.82',
 '542613.62',
 '799814.38',
 '289762.07',
 '1159950.22',
 '1514793.06',
 '543576.78',
 '1329771.23',
 '992704.97',
 '1777154.90',
 '1826927.02',
 '708321.24',
 '588950.91',
 '1577139.34',
 '528817.33',
 '2758055.40',
 '777853.23',
 '734186.13',
 '791919.70',
 '216387.02',
 '978780.88',
 '520764.08',
 '2114727.72',
 '1228076.66',
 '244139.42',
 '653556.06',
 '920659.83',
 '483820.90',
 '462554.81',
 '1404210.30',
 '754661.35',
 '517035.84',
 '1391737.72',
 '1131813.08',
 '427636.36',
 '432224.03',
 '447177.82',
 '849635.28',
 '2250088.35',
 '1630196.76',
 '231973.59',
 '871704.98',
 '286011.17',
 '245340.83',
 '2498022.55',
 '748263.95',
 '245757.60',
 '237974.12',
 '828696.44',
 '465715.95',
 '1319792.89',
 '280391.67',
 '864650.41',
 '742587.06',
 '452873.74',
 '222707.28',
 '729294.88',
 '318435.52',
 '1131520.37',
 '253070.51',
 '1836155.53',
 '864153.00',
 '327853.19',
 '527198.21',
 '376363.77',
 '1395556.96',
 '500152.75',
 '708283.04',
 '761948.28',
 '1255088.20',
 '3219660.04',
 '679377.41',
 '527231.97',
 '626534.33',
 '854758.61',
 '278742.37',
 '462680.11',
 '866336.40',
 '387222.22',
 '517081.15',
 '896028.02',
 '547183.43',
 '3493100.17',
 '262039.23',
 '1906949.95',
 '4022401.36',
 '270148.83',
 '371243.05',
 '2185084.00',
 '784016.58',
 '823703.79',
 '224347.39',
 '843446.41',
 '517002.60',
 '264144.61',
 '279068.30',
 '274512.98',
 '757953.27',
 '1097878.03',
 '825506.01',
 '474773.46',
 '354090.43',
 '258218.53',
 '1166509.78',
 '739628.37',
 '433079.98',
 '1463545.16',
 '856476.82',
 '1156568.75',
 '850712.88',
 '332309.25',
 '523433.17',
 '2470959.96',
 '1778627.78',
 '255122.67',
 '724771.37',
 '453884.78',
 '3164210.46',
 '873042.20',
 '833273.06',
 '235774.70',
 '463716.40',
 '535719.27',
 '539197.10',
 '369414.05',
 '504041.24',
 '2749542.19',
 '484228.50',
 '2738281.89',
 '522710.19',
 '259009.60',
 '1053607.80',
 '858127.87',
 '946311.33',
 '1344100.64',
 '388650.48',
 '678489.37',
 '253862.63',
 '563994.20',
 '1168137.43',
 '2599775.00',
 '1377836.93',
 '492318.17',
 '227233.54',
 '1489539.80',
 '975604.50',
 '942297.41',
 '383735.76',
 '1095213.19',
 '815913.66',
 '1948049.98',
 '391936.67',
 '798514.21',
 '1216874.49',
 '584932.15',
 '508583.66',
 '290393.98',
 '627317.34',
 '1832141.90',
 '517870.42',
 '1402435.84',
 '530943.59',
 '494980.38',
 '859566.53',
 '2295189.20',
 '379213.03',
 '275574.80',
 '488033.96',
 '905190.53',
 '1011544.62',
 '826907.54',
 '807165.30',
 '772699.36',
 '831113.59',
 '257402.04',
 '572732.71',
 '367914.21',
 '274451.96',
 '563674.03',
 '1687038.82',
 '273800.20',
 '464470.05',
 '474668.65',
 '1687432.82',
 '238760.61',
 '446533.57',
 '459162.59',
 '1309258.58',
 '911226.66',
 '416516.66',
 '265998.06',
 '1198659.21',
 '289873.27',
 '289424.39',
 '350045.44',
 '262180.86',
 '1022180.50',
 '257827.10',
 '624259.57',
 '522028.10',
 '313643.21',
 '452536.58',
 '497035.73',
 '1546778.90',
 '583889.92',
 '1065688.20',
 '228961.87',
 '543980.42',
 '795615.01',
 '255505.15',
 '330799.90',
 '845905.32',
 '1335012.09',
 '493122.13',
 '777683.52',
 '255367.22',
 '487646.97',
 '903430.58',
 '810591.08',
 '561968.91',
 '1572713.06',
 '661801.64',
 '467004.80',
 '1016936.98',
 '832307.40',
 '241776.00',
 '804487.24',
 '532572.45',
 '694752.40',
 '584741.52',
 '472478.61',
 '279022.80',
 '2153133.28',
 '1262283.27',
 '2017196.15',
 '1646436.59',
 '266544.71',
 '709891.41',
 '397134.51',
 '552821.28',
 '833899.58',
 '3844585.59',
 '544855.52',
 '1080806.60',
 '618509.65',
 '320822.59',
 '548010.41',
 '2298615.39',
 '1310792.59',
 '746292.63',
 '1146399.10',
 '723613.25',
 '623268.79',
 '2839332.99',
 '374675.16',
 '2156933.73',
 '501208.37',
 '337185.84',
 '386477.68',
 '414571.19',
 '515607.27',
 '366737.50',
 '783568.35',
 '1456726.84',
 '1017133.90',
 '413577.52',
 '551149.11',
 '1131424.39',
 '541461.73',
 '742159.35',
 '1447612.49',
 '493688.84',
 '452527.65',
 '558176.13',
 '1413434.74',
 '2472318.31',
 '283806.78',
 '384848.36',
 '1950447.39',
 ...]

In [83]:
len(car_in[car_in['customer lifetime value'].isna()==True])

10014

In [84]:
car_in["number of open complaints"].unique()

array(['1/0/00', '1/2/00', '1/1/00', '1/3/00', '1/5/00', '1/4/00', nan, 0,
       2, 3, 1, 5, 4], dtype=object)

In [85]:
car_in['gender'].value_counts(dropna=False)

F         4560
M         4368
NaN       3059
Male        40
female      30
Femal       17
Name: gender, dtype: int64

In [91]:
car_in_gender=car_in["gender"].replace({"Male":"M", "Female":"F", "female":"F","Femal":"F"})
car_in_gender.value_counts()

F    4607
M    4408
Name: gender, dtype: int64

In [92]:
car_in['st'].value_counts(dropna=False)

California    3032
NaN           2937
Oregon        2601
Arizona       1630
Nevada         882
Washington     768
Cali           120
AZ              74
WA              30
Name: st, dtype: int64

In [96]:
car_in_st=car_in["st"].replace({"Cali":"California", "AZ":"Arizona", "WA":"Washington"})
car_in_st.value_counts()

California    3152
Oregon        2601
Arizona       1704
Nevada         882
Washington     798
Name: st, dtype: int64

In [98]:
car_in.drop_duplicates()

,st,gender,education,policy type,vehicle class,customer lifetime value,income,monthly premium auto,number of open complaints,total claim amount
0,Washington,NaN,Master,Personal Auto,Four-Door Car,NaN,0.0,1000.0,1/0/00,2.704934
1,Arizona,F,Bachelor,Personal Auto,Four-Door Car,697953.59,0.0,94.0,1/0/00,1131.464935
2,Nevada,F,Bachelor,Personal Auto,Two-Door Car,1288743.17,48767.0,108.0,1/0/00,566.472247
3,California,M,Bachelor,Corporate Auto,SUV,764586.18,0.0,106.0,1/0/00,529.881344
4,Washington,M,High School or Below,Personal Auto,Four-Door Car,536307.65,36357.0,68.0,1/0/00,17.269323
...,...,...,...,...,...,...,...,...,...,...
7065,California,M,Bachelor,Personal Auto,Four-Door Car,NaN,71941.0,73.0,0,198.234764
7066,California,F,College,Corporate Auto,Four-Door Car,NaN,21604.0,79.0,0,379.200000
7067,California,M,Bachelor,Corporate Auto,Four-Door Car,NaN,0.0,85.0,3,790.784983
7068,California,M,College,Personal Auto,Four-Door Car,NaN,21941.0,96.0,0,691.200000
7069,California,M,College,Corporate Auto,Two-Door Car,NaN,0.0,77.0,0,369.600000